nav {
  display: flex;
  gap: 51px;
  align-items: center;
  border: 1px solid #000;
  flex-basis: var(--max-width);
}

nav span {
  font-weight: 500;
  font-size: 1rem;
}

nav span:first-of-type {
  max-width: var(--max-width);
  margin-right: auto;
  font-size: 1.5rem;
}